<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8 mt-5">
      <div class="block-form">
        <h1>Je crée ma liste</h1>
        <%= simple_form_for @list do |f| %>
          <%= f.input :name, label: "Nom de la liste", placeholder: "Western, Drame, etc." %>
          <%= f.input :photo, as: :file, label: "Image d'illustration" %>
          <%= f.submit 'Créer ma liste', class:"btn btn-first mt-4"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
