<%= render "shared/banner-list", list: @list %>
<section id="bookmarks">
  <div class="container">
    <% if @list.bookmarks.empty? %>
      <p>Cette liste est vide. Vous pouvez ajouter des films</p>
    <% end %>
  </div>
</section>
<section>
  <div class="container">
    <h2>Ajouter un film</h2>
    <%= render 'shared/form', list: @list, bookmark: @bookmark %>
  </div>
</section>
