<div class="container">
  <h1>Modifier le film</h1>
  <%= simple_form_for @bookmark do |f| %>
  <%= f.association :movie, collection: Movie.all.order(:title), prompt: "Titre de film", label: "Film à ajouter" %>
  <%= f.input :comment, label: "Commentaire" %>
  <%= f.submit "Modifier le film", class: "btn btn-success" %>
<% end %>

</div>
