<section class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path list.photo.key %>');">
  <div class="container">
    <h1><%= list.name %></h1>
    <%= link_to "â† Voir mes listes", lists_path, class: "btn btn-primary" %>
  </div>
</section>
